#filter-cont {
  width: 166px;
  height: 40px;
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  outline: none;
}

#filter-cont select  option {
  padding: 10px 10px;
  margin: 10px 0;
  color: #3b3b3b;
  font-size: 14px;
}
.filter-button{
  padding: 5px 10px ;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
transition: all 0.7s ease-in;
  border-radius: 5px;
  margin: 0 5px;
  background-color: transparent;
  &:hover{
  color: blueviolet;

  }
}
.active{
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: blueviolet;
}
