<!-- <footer class="py-5 footer bg-light container-fluid mt-5" >
  <div class="container-fluid px-2">
   <div class="mx-5">
    <h3 class="fw-bold">Get the FreshCart app</h3>
    <p>We will send you a link, open it on your phone to download the app.</p>
    <div class=" d-flex align-items-center ">
      <input

        type="email"
        class="mx-2 py-2 form-control "
        style="width: 90%;"
        id="exampleInputEmail1"
        placeholder="Email ..."
      />
      <button class="btn btn-danger mx-2 px-3"><i></i> Share App  </button>
    </div>
    <hr />
    <div class="Footer_inputBtn__z9ktk  d-flex align-items-center justify-content-between">
      <div class="  d-flex align-items-center ">

        <div class="d-flex align-items-center ">
          <p class="h5  mx-2 fw-bold">Payment Partners</p>
          <img
    mx-2       width="80px"
          class="img-fluid"
            src="https://ecommerce-eta-sand.vercel.app/static/media/amazonPay.762febabfd33d26622a7.png"
            alt="amazon Pay"
          /><img
         width="80px"
          class="img-fluid mx-2 "
            src="https://ecommerce-eta-sand.vercel.app/static/media/americanExpress.72c73823cfb10924b14a.png"
            alt="american Express"
          /><img
          class="img-fluid mx-2"
          width="80px"
            src="https://ecommerce-eta-sand.vercel.app/static/media/Mastercard.03949330f44397b50c70.png"
            alt="Mastercard"
          /><img
          class="img-fluid mx-2"
          width="80px"
            src="https://ecommerce-eta-sand.vercel.app/static/media/PayPal.2fbb826ff5e429726092.png"
            alt="PayPal"
          />
        </div>
      </div>
      <div class="d-flex align-items-center ">
        <p class="h5 fw-bold mx-2">Get deliveries with airbnb</p>
        <div class="d-flex align-items-center ">
          <img
          width="80px"
          class="img-fluid mx-2"
            src="https://ecommerce-eta-sand.vercel.app/static/media/appStore.69cfe4f22d7a062caf51.png"
            alt="app Store"
          /><img
          width="80px"
          class="img-fluid"
            src="https://ecommerce-eta-sand.vercel.app/static/media/googleStore.4df01025af3d051c8726.png"
            alt="google Store"
          />
        </div>
      </div>
    </div>
    <hr />
   </div>
  </div>
</footer> -->

<footer class="footer mt-5 mb-0">
  <!-- ========= top section ==========  -->
  <div class="top-sec">
    <div class="container">
      <div class="row d-flex align-items-center py-4">
        <!-- right -->
        <div
          class="right d-flex flex-column align-items-center justify-content-center col-12 col-md-6 col-xl-4"
        >
          <div class="row align-items-center justify-content-center flex-sm">
            <p class="fs-4  font-bold col-6 col-md-12 col-xl-12">
              Subscribe to our newsletter
            </p>
            <div
              class="footer-top-input d-flex align-items-center col-6 col-md-12 col-xl-12"
            >
              <button class="top-button ">Subscribe</button>
              <input type="search " class="top-input" name="" id="" />
            </div>
          </div>
        </div>

        <!-- middle -->
        <div
          class="middle d-flex flex-column align-items-center justify-content-center col-12 col-md-6 col-xl-4"
        >
          <div class="row align-items-center justify-content-center">
            <div
              class="footer-icon-top-sec rounded-pill col-6 col-md-12 col-xl-12"
            >
              <i class="fas fa-phone"></i>
            </div>
            <span
              class="fs-4 font-bold  mt-2 col-6 col-md-12 col-xl-12"
            >
              +20 1120916853
            </span>
          </div>
        </div>
        <!-- left  -->
        <div
          class="left d-flex flex-column align-items-center justify-content-center col-12 col-md-6 col-xl-4"
        >
          <div class="row align-items-center justify-content-center w-sm-100">
            <div
              class="footer-icon-top-sec rounded-pill col-6 col-md-12 col-xl-12"
            >
              <i class="fas fa-message"></i>
            </div>
            <span
              class="fs-4 font-bold  mt-2 col-6 col-md-12 col-xl-12"
            >
              Airbnb@house.net
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- our Partner -->
  <div class="mb-4 bg-light text-center">
    <h2>Our Partner</h2>
    <div class="d-flex align-items-center justify-content-between"></div>
  </div>
  <div class="my-2 container mx-auto">
    <div class="row">
      <div class="col" *ngFor="let link of FooterLinks">
        <div class="d-flex align-items-center flex-column" >
          <div
            class="d-flex align-items-center flex-column justify-content-center"
          >
            <ul class="flex-start d-flex flex-column footer__ul">
              <h3 class="font-bold"> {{link.h2 }} </h3>
              <div class="border__left">
                <li class="py-2 px-3 footer__li" *ngFor="let li of link.li">
                  <a href="">{{li}}</a>
                </li>
                <!-- <li class="py-2 px-3 footer__li">
                  <a href="">Management levels</a>
                </li>
                <li class="py-2 px-3 footer__li">
                  <a href="">Features of the new generation</a>
                </li> -->
              </div>
            </ul>
          </div>

        </div>
        <div class="d-flex align-items-center flex-column" *ngFor="let item of link.sec2">
          <div
            class="d-flex align-items-center flex-column justify-content-center"
          >
            <ul class="flex-start d-flex flex-column footer__ul">
              <h3 class="font-bold"> {{item.h2 }} </h3>
              <div class="border__left">
                <li class="py-2 px-3 footer__li" *ngFor="let li of item.li">
                  <a href="">{{li}}</a>
                </li>

              </div>
            </ul>
          </div>

        </div>
      </div>

    </div>
    <!-- social media  -->
    <div class="row">
      <div class="col-4 d-flex align-items-center justify-content-center">
        <span
          class="social__media__icon facebook d-flex align-items-center justify-content-center m-2"
          ><i class="fa-brands fa-facebook-f"></i
        ></span>
        <span
          class="social__media__icon youtube d-flex align-items-center justify-content-center m-2"
          ><i class="fa-brands fa-youtube"></i
        ></span>
        <span
          class="social__media__icon instagram d-flex align-items-center justify-content-center m-2"
          ><i class="fa-brands fa-instagram"></i
        ></span>
        <span
          class="social__media__icon linkedin d-flex align-items-center justify-content-center m-2"
          ><i class="fa-brands fa-linkedin-in"></i
        ></span>
        <span
          class="social__media__icon twitter d-flex align-items-center justify-content-center m-2"
          ><i class="fa-brands fa-twitter"></i
        ></span>
      </div>
      <div class="col-8"></div>
    </div>
  </div>


  <div class="py-2 border-top d-flex align-items-center justify-content-center border-2">
    <div class=" d-flex align-items-center justify-content-center h-100 ">
       Modern Slavery StatementEquality, Diversity and Inclusion StandardTerms & ConditionsPoliciesCookie PolicyBack To Top
    </div>

  </div>
</footer>


<div class="watsap__icon">

    <a href="https://wa.me/+201120916853" target="_blank">
      <i class="fa-brands fa-whatsapp"></i>
    </a>

</div>
