<footer class="py-5 footer bg-light container-fluid mt-5" >
  <div class="container-fluid px-2">
   <div class="mx-5">
    <h3 class="fw-bold">Get the FreshCart app</h3>
    <p>We will send you a link, open it on your phone to download the app.</p>
    <div class=" d-flex align-items-center ">
      <input

        type="email"
        class="mx-2 py-2 form-control "
        style="width: 90%;"
        id="exampleInputEmail1"
        placeholder="Email ..."
      />
      <button class="btn btn-danger mx-2 px-3"><i></i> Share App  </button>
    </div>
    <hr />
    <div class="Footer_inputBtn__z9ktk  d-flex align-items-center justify-content-between">
      <div class="  d-flex align-items-center ">

        <div class="d-flex align-items-center ">
          <p class="h5  mx-2 fw-bold">Payment Partners</p>
          <img
    mx-2       width="80px"
          class="img-fluid"
            src="https://ecommerce-eta-sand.vercel.app/static/media/amazonPay.762febabfd33d26622a7.png"
            alt="amazon Pay"
          /><img
         width="80px"
          class="img-fluid mx-2 "
            src="https://ecommerce-eta-sand.vercel.app/static/media/americanExpress.72c73823cfb10924b14a.png"
            alt="american Express"
          /><img
          class="img-fluid mx-2"
          width="80px"
            src="https://ecommerce-eta-sand.vercel.app/static/media/Mastercard.03949330f44397b50c70.png"
            alt="Mastercard"
          /><img
          class="img-fluid mx-2"
          width="80px"
            src="https://ecommerce-eta-sand.vercel.app/static/media/PayPal.2fbb826ff5e429726092.png"
            alt="PayPal"
          />
        </div>
      </div>
      <div class="d-flex align-items-center ">
        <p class="h5 fw-bold mx-2">Get deliveries with airbnb</p>
        <div class="d-flex align-items-center ">
          <img
          width="80px"
          class="img-fluid mx-2"
            src="https://ecommerce-eta-sand.vercel.app/static/media/appStore.69cfe4f22d7a062caf51.png"
            alt="app Store"
          /><img
          width="80px"
          class="img-fluid"
            src="https://ecommerce-eta-sand.vercel.app/static/media/googleStore.4df01025af3d051c8726.png"
            alt="google Store"
          />
        </div>
      </div>
    </div>
    <hr />
   </div>
  </div>
</footer>
