<!-- top nav  -->
<app-topnav></app-topnav>


<!-- middle nav -->
<app-middlenav></app-middlenav>

<!-- bottom nav  -->

<div class="d-flex align-items-center shadow w-100" style="height: 60px; overflow-y: hidden;">

  <div class="w-100 row h-100">
    <div class="col-2  h-100 d-flex align-items-center justify-content-center " style="background-color: rgba(255, 193, 127, 0.744);">
      <span class="text-bold text-center fs-5">All Categories <i class="fa-solid fa-grip fs-5 " style="color: chocolate;"></i> </span>
    </div>
    <div class="col-10 d-flex align-items-center justify-content-between justify-content-center">

      <owl-carousel-o [options]="customOptions" class=" w-100 mx-auto d-flex align-items-center justify-content-between justify-content-center">
        <ng-container *ngFor="let item of categories" (click)="pageReload()">
          <ng-template carouselSlide>
            <div class="mx-3 shadow rounded text-center my-2 py-2 px-"(click)="pageReload()" routerLinkActive="bg-cat text-bold " >
              <a href="#" class="text-decoration-none rounded "routerLinkActive="text-dark "  style="font-size: 12px;"[routerLink]="['houseCategory', item._id]">
                <span *ngIf="item.name">{{ item.icon | slice: 0:10 }}</span>
              </a>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>

    </div>
  </div>

</div>





