<nav class=" navbar navbar-expand-sm navbar-light bg-white small_nav" style="height: 40px;">

  <ul class="navbar-nav me-auto mt-2 mt-lg-0">

    <li  class=" nav_link">
      <a class=" px-3  " >Engish </a>
    </li>
    <li   class=" nav_link">
      <a class=" px-3 " >Contact</a>
    </li>
    <li   class=" nav_link">
      <a class=" px-3 " >Email</a>
    </li>


  </ul>
  <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
    <div class="right">
      <div class="rightDiv1 fw-semibold " style="font-size: 13px;">Airbnb your home</div>
      <div class="rightDiv2">
        <i class="fa-solid fa-globe" > </i>
      </div>
    </div>

  </ul>


</nav>
