<div class="container">
  <div class="row gap-4">
    <div class="col-12 col-xl-8 col-md-8 shadow bg-light rounded">
      <div class="d-flex flex-column">
        <div class="d-flex align-items-center justify-content-between border-bottom">
          <button class="btn  border ">Show More <i class="fas fa-arow"></i></button>
          <h3 class="fs-6 m-3">title</h3>
        </div>
        <div class="row ">
          <div class="col-4 col-xl-4 col-md-4 my-3">
            <div class="d-flex flex-column  justify-content-around">
              <!-- product title -->
              <span class="title fs-6 font-bold mb-2"> title</span>
              <!-- house description  -->
              <div class="my-2 w-100 d-flex  my-2 bg-primary">
                <p> description : Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              </div>
              <!-- house info price rate number of pay  -->
              <div class=" d-flex align-items-center justify-content-between ">
                  <span> $240.0</span>
                  <span class="fs-4">*****</span>
              </div>
              <div class="w-100">
                <button class="btn w-100 border">
                  show more details
                </button>
              </div>

            </div>
          </div>
          <div class="col-12 col-xl-8 col-md-8 my-3 border rounded shadow">
            <div class="row">
              <div class="col-8">
                <img src="./../../../favicon.ico" class="img-fluid " alt="">
              </div>
              <div class="col-4 d-flex align-items-center justify-content-around flex-column border rounded shadow ">
                <div class="card-img">
                  <img src="" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
<div class="col-3 col-xl-3 col-md-3 shadow bg-light rounded h-100">
  <!-- loop for huses  -->
  <div class="w-100 h-100 d-flex ">
    <div class="row">
      <div class="col-8 d-flex flex-column flex-start">
        <!-- title  -->
        <span class="fs-6">titile</span>
        <!-- descrition  -->
        <p>descrition</p>
      </div>
      <div class="col-4">
        <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn-img1.imgworlds.com%2Fassets%2Fa5366382-0c26-4726-9873-45d69d24f819.jpg%3Fkey%3Dhome-gallery&tbnid=hJPoPb9YPajvXM&vet=12ahUKEwiLrejnhvmDAxVr7rsIHXswD1oQMygFegQIARBU..i&imgrefurl=https%3A%2F%2Fwww.imgworlds.com%2F&docid=fDJ20dBBz2QUxM&w=800&h=600&itg=1&q=img&ved=2ahUKEwiLrejnhvmDAxVr7rsIHXswD1oQMygFegQIARBU" class="img-fluid rounded-md" alt="">
      </div>
    </div>

  </div>
</div>

  </div>
</div>
