.loder_icon{
  font-size: 90px !important;
  // position: absolute;
  // top: 10%;
  // left: 50%;
}


img{
  object-fit: cover;
}

// @media(prefers-reduced-motion:no-perference){


// .house-card{
//   transition: all .9s ease-in-out;
// animation: card-animate linear forwards;
// animation-timeline: view(500px 100px);
// // animation-timeline: view();
// animation-range: contain entry-crossing;

// }
// @keyframes card-animate
// {
//   from{scale:  .5; opacity: 0;}
//   to{scale: 1; opacity: 1;}
// }
// }
.house-card{
  scale:  .8; opacity: 0.5;
  transition: all .9s ease-in-out;
animation: fade-in linear forwards;
animation-timeline: view(500px 100px);
// animation-timeline: view();
animation-range:  entry-crossing;

}
@keyframes fade-in
{
  // from{scale:  .5; opacity: 0;}
  to{scale: 1; opacity: 1;}
}
.your-element-class {
  opacity: 1;
  /* Add more styles as needed */
}
