<script src="https://unpkg.com/scrollreveal"></script>


<div class="my-4  shadow rounded bg-light">
  <div class="row align-items-center  py-2">
    <div class="col-5 mx-2 rounded img-carusel-custom ">
      <div class="d-flex justify-content-between  mt-2 img-carusel-icons">
        <button class="btn btn-light img-prev" (click)="navigateImages('prev')"><i class="fa fa-angle-left"></i></button>
        <button class="btn btn-light img-next" (click)="navigateImages('next')"><i class="fa fa-angle-right"></i></button>
      </div>
      <img [src]="url+'/img/houses/'+myHouse.images[imgIndex]" style="border: 2px solid rgb(0, 0, 0); opacity: 1; cursor: pointer;" class="img-fluid h-50 w-100 rounded img-animated" (click)="openPopup()">

      <div class="my-2 py-2 shadow bg-light d-flex justify-content-center gap-1 rounded">
        <div class=" border rounded shadow" style="width: 80px; cursor: pointer;" *ngFor="let img of myHouse.images; let index = index">
          <img [src]="url+'/img/houses/'+img" (click)="getImgIndex(index)"
          [style.transform]="index === imgIndex ? 'scale(1.1)' : 'scale(1)'"
          style="border:{{index === imgIndex ? '2px solid rgb(0, 0, 0)' : ''}} ; opacity: {{index === imgIndex ? 1 : 0.7}};"
           class="img-fluid rounded img-animated">
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="my-3">
        <div class="d-flex flex-start">
          <h3 class="fw-bold fs-5"> {{myHouse.address}} ({{CatName}}) </h3>
        </div>

        <div class="mt-3 d-flex Descrition" style="font-size: 19px;">
          <span class="fw-bold mx-2 Descrition">Description:</span> {{myHouse.description | slice: 0:200}}
        </div>

        <div class="my-3 d-flex" style="font-size: 19px;">
          <div>
            <span class="mx-2 fw-bold">price :</span>
            <span class="">{{myHouse.price|currency:"USD"}}</span>
            <span class="mx-5">
              <ng-container *ngFor="let star of getStars(myHouse.rate)">
                <i class="fa-solid fa-star text-warning" style="font-size: 13px;"></i>
              </ng-container>
            </span>
          </div>
        </div>

        <div class="d-flex align-items-center">
          <div class="span mx-2">Add To Cart</div>
          <div><button class="btn btn-danger">Buy Now</button></div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="overlay" tabindex="-1" role="dialog" [ngStyle]="{'display': displayStyle}">
  <span class="clear" (click)="closePopup()">
    <i class="fa-regular fa-circle-xmark"></i>
  </span>
  <div class="w-100 h-100 d-flex align-items-center justify-content-center overlay-container">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="img-container main-img img-carusel-icons">
        <div class="d-flex justify-content-between  mt-2 img-carusel-icons">
          <button class="btn btn-light img-prev" (click)="navigateImages('prev')"><i class="fa fa-angle-left"></i></button>
          <button class="btn btn-light img-next" (click)="navigateImages('next')"><i class="fa fa-angle-right"></i></button>
        </div>
        <img [src]="url+'/img/houses/'+myHouse.images[imgIndex]" style="border: 2px solid rgb(0, 0, 0);" class="img-fluid rounded img-animated">
      </div>
      <div class="my-2 mx-2 d-flex gap-1">
        <div style="width: 120px;" *ngFor="let img of myHouse.images; let index = index">
          <img
            [src]="url+'/img/houses/'+img"
            (click)="getImgIndex(index)"
            [style.transform]="index === imgIndex ? 'scale(1.1)' : 'scale(1)'"
            [ngStyle]="{
              'border': index === imgIndex ? '2px solid rgb(0, 0, 0)' : '',
              'opacity': index === imgIndex ? 1 : 0.7
            }"
            class="img-fluid rounded img-animated"
          />
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- related houses  -->
<section class="   w-100">
  <div class="d-flex flex-column flex-start  w-100" >
    <h3 class="fs-5 text-bold my-2">Related Houses</h3>
    <div class="my-2 d-flex align-items-center w-100">
      <div class="w-100 mx-auto " >

        <div class=" shadow rounded w-100 gap-2" >
          <owl-carousel-o [options]="customOptions3">
            <ng-container  class="d-flex align-items-center flex-column w-100  mx-5 border  rounded bg-secondary "style="margin: 0 10px !important;" *ngFor="let item of RelatedHouse">
              <ng-template carouselSlide >
                <div class=" row justify-content-around product" >
                  <div class="col-5 my-2 border d-flex align-items-center">
                         <img [src]="url+ '/img/houses/'+item.images[0]" [alt]="item.name" class="rounded h-100  img-fluid">
                  </div>
                  <div class="col-6 my-2">
                   <span class="text-bold my-2"> {{item.name|slice:0:20}} </span>
                   <div class="my-2 d-flex align-items-center justify-content-between">

                     <span>
                       {{item.price| currency:'USD' }}
                     </span>
                     <span>   <ng-container *ngFor="let star of getStars(item.rate)">
                       <i class="fa-solid fa-star text-warning" style="font-size: 13px;"></i>
                     </ng-container> </span>

                   </div>
                   <div class="my-2"> Adress: {{item.address}} </div>
                   <div>
                     <button class="btn btn-outlin border shadow text-primary " (click)="openDetails()" [routerLink]="['/details',item._id]" > More Details</button>
                   </div>
                   <div class="wish_market shadow">
                     <span class="cart-icon text-center w-100 "><i class="fa-solid fa-cart-shopping"></i></span>

                     <span class="heart-icon w-100 text-center"><i class="fa-regular fa-heart"></i></span>
                   </div>
                 </div>
                     </div>
              </ng-template>


            </ng-container>
          </owl-carousel-o>

        </div>
      </div>
    </div>
  </div>
</section>


